{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Челикс's Blog</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
        <link rel="stylesheet" href="/static/css/blog.css?{% now "U" %}">
    </head>
    <body class="mainBody">
        <header class="header">
            <div class="flexIcons">
                <div class="signBlock">
                    <a class="signLink" href="{% url 'register' %}">Register</a>
                    <a class="signLink" href="{% url 'login' %}">Log in</a>
                </div>
                <div class="userBlock">
                    <p></p>
                    <a href="">Log out</a>
                </div>
            </div>
            <p class="nameOfBlog">Челик's blog</p>
            <div class="flexIcons">
                <a href="{{path}}"class="iconCont"><div class="iconLink homeLink"></div></a>
                <a class="iconCont"><div class="iconLink addLink"></div></a>
                <a class="iconCont"><div class="iconLink boxLink"></div></a>
                <a class="iconCont"><div class="iconLink listLink"></div></a>
            </div>
        </header>
        <main class="main">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="footer">
            <a target="_blank" href="https://github.com/foxnorth228" class="iconCont">
                <div class="iconLink githubLink"></div>
            </a>
            <p>2022, Саньчила</p>
            <a target="_blank" href="https://www.bsuir.by/" class="iconCont" >
                <div class="iconLink bsuirLink"></div>
            </a>
        </footer>
    </body>
</html>